@media screen and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
    .gallery-container {
        height: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .whats-fixe {
        width: 60px;
        right: 20px;
        bottom: 10px;
    }
    .btn-menu {
        display: block;
    }
    .logo-mr3 {
        display: none;
    }
    .logo-content {
        display: block;
        width: 150px;
    }
    .header-content-logo {
        display: none;
    }
    .menu {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .menu ul{
        display: none;
    }
    .office-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .gallery-container {
        height: 150px;
    }
        /* Apagar caso troque a foto */
     .gallery-4 { 
        background-position-x: 0;
    }
    .footer-container {
        padding: 0 20px;
    }
    .logo-mr3-footer {
        display: block;
    }
    .btn-container {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 12px;
    }
    .header-content h1 {
        font-size: 18px;
       
    }
    .card p {
        height: 100px;
    }
    .article-text p  {
        text-align: start;
    }
    .servicos-content p {
        margin: 0;
    }
    .office-container {
        padding: 100px 0;
    }
    .office-container p {
        min-width: 100%;
    }
    .office-container img {
        min-width: 100%;
    }
    .footer-container {
        height: 740px;
    }
    
}
