@media screen and (max-width: 1396px) {
    .card p {
        height: auto;
    }
}
@media screen and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
    .gallery-container {
        height: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .btn-menu {
        display: block;
        cursor: pointer;
    }
    #close-btn img {
        position: absolute;
        top: 48px;
        right: 20px;
        cursor: pointer;
    }
    .menu-mobile {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        margin: 0;
        background-color: #212325;
        position: fixed;
        right: 0;
        width: 0;
        overflow-x: hidden;
        transition: all 0.5s;        
    }
    .menu-mobile a {
        font-size: 1.75rem;
        color: #fff;
        font-weight: 400;
    }
    .menu-mobile ul {
        padding: 30px;
        min-width: 300px;
    }
    .menu-mobile li {
        padding: 20px 0;
        margin: 0;
    }
    .separador {
        background-color: #fff;
        width: 90px;
        height: 1px;
        display: none;
    }
    .whats-fixe {
        width: 60px;
        right: 20px;
        bottom: 10px;
    }
    .btn-menu {
        display: block;
    }
    .menu {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .menu ul {
        display: none;
    }
    .logo-mr3 {
        width: 130px;
    }
    .btn-container {
        display: none;
    }
    .social {
        display: none;
    }
    .social-mobile {
        display: block;
        position: absolute;
        bottom: 60px;
        margin: 0 auto;

    }
    .article-text {
        padding-top: 40px;
    }
    .cards-container {
        padding: 20px 0;
    }
    .office-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 0;
        height: auto;
    }
    .gallery-container {
        height: 150px;
    }
    .footer-container {
        padding: 0 20px;
    }
    .logo-mr3-footer {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 12px;
    }
    .header-content h1 {
        font-size: 18px;
    }
    .article-text h2 {
        font-size: 2.8rem;
    }
    .article-text p  {
        text-align: start;
    }
    .servicos-content p {
        height: auto;
        margin-bottom: 10px;
    }
    .servicos-content:last-child {
        margin-bottom: 40px;
    }
    .servicos-content ul {
        width: 300px;
    }
    .office-container p {
        min-width: 100%;
    }
    .office-container img {
        min-width: 100%;
    }
    .footer-container {
        height: 740px;
    }
    .social-icon {
        margin-top: 30px;
    }
    .copyright {
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;
    }
    
}
@media screen and (max-width: 320px) {
    .servicos-content {
        min-width: 300px;
        
    }
}
