@media screen and (max-width: 760px) {
    .agendar-mobile {
        display: block;
        background-color: rgb(244, 244, 244);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        width: 230px;
        height: 45px;
        line-height: 45px;
        border-radius: 25px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        top: 40px;
        left: 25px;
        cursor: pointer;
    }
    .agendar-mobile:hover {
        background-color: #8DD7F7;
        height: 32px;
        width: 230px;
        width: 230px;
        height: 45px;
        border-radius: 25px;
        transition: 0.3s;
    }
    .btn-menu {
        display: block;
        cursor: pointer;
    }
    .btn-menu img {
        top: 38px;
        right: 20px;
        padding: 6px;
        background-color: rgb(237, 237, 237);
        border-radius: 7px;
        position: absolute;
    }
    #close-btn img {
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 4px;
        background-color: #cccccc;
        border-radius: 5px;
        cursor: pointer;
    }
    .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.786);
        position: absolute;
        width: 0;
        overflow-x: hidden;
        transition: all 0.3s;
        backdrop-filter: blur(15px);
    }
    .menu-mobile a {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 400;
    }
    .menu-mobile li {
        padding: 15px;
        margin: 0;
    }
    .separador {
        background-color: #fff;
        width: 90px;
        height: 1px;
    }
    .menu {
        font-size: 13px;
        justify-content: center;
        height: 123px;
        display: none;
    }
    .menu ul {
        padding: 0;
    }
    .menu a {
        margin: 0;
    }
    .title {
        padding: 130px 20px;
        justify-content: center;
    }
    .article-text {
        padding-top: 50px;
    }
    .article-text p {
        margin-bottom: 50px;
    }
    .blocos-container {
        margin: 10px 30px;
    }
    .sobre-bloco {
        margin: 20px;
    }
    .sobre-bloco img {
        margin: 0;
        width: 350px;
        height: 250px;
    }
    .sobre-article h2 {
        margin: 20px;
    }
    .direitos {
        font-size: 12px;
    }
    .menu-footer {
        display: flex;
        height: 100px;
    }
}
@media screen and (max-width: 975px) {
    .menu .logo-mr3 {
        display: none;
    }
    .menu a{
        font-size: 14px;
    }
}