* {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: #353535;
}
html, body, main {
    overflow-x: hidden;
}
header {
    background-image: url('../img/banner.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover !important;
    max-width: 100%;
    height: 100vh;
}
.menu-mobile, .btn-menu {
    display: none;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20px;
    max-width: 100%;
    padding: 0 20px;

}
.menu img {
    width: auto;
    max-height: 100px;
}
.logo-mr3{
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 3.86408px 7.72815px rgba(0, 0, 0, 0.25);
}
.logo-content {
    display: none;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.menu li {
    margin-left: 30px;
}
.menu li:first-child {
    margin-left: 0;
}
.menu a, .menu-mobile a {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 10px;
    color: #fff;
    position: relative;
    text-decoration: none;
}
.menu a:before, .menu-mobile a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.line-menu a:before {
    visibility: visible;
    transform: none;
}
.menu a:hover:before, .menu-mobile a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.social-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
    
}
.social-icon {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.social-icon img {
    margin-left: 5px;
}
.social-icon img:first-child {
    margin-left: 0px;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    max-width: 845px;
    margin: 20px auto;
    height: 84vh;   
    padding: 0 20px;
}
.header-content h1 {
    color: #FEFEFE;
    font-size: 2.5rem;
    font-family: 500;
}
.row, .large{
    width: 280px;
    height: 1px;
    background-color: #D9D9D9;
    margin: 35px auto;
}
.large {
    width: 560px;
}
.botao {
    font-size: 1.125rem;
    width: 160px;
    height: 45px;
    line-height: 45px;
    border-radius: 4px;
    font-weight: 400;
    color: #353535;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
}
.botao:hover, .btn-container:hover, .whats-fixe:hover, .social-icon img:hover{
    opacity: 70%;
    transition: 0.3s;
}
.whats-fixe {
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 4;
}
    /* ========= SERVICOS ========= */
.servicos {
    position: relative;
    max-height: auto;
    min-height: 100vh;
    padding: 30px;
}
.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.article-text h2 {
    font-size: 3.125rem;
    font-weight: 400;
    color: #353535;
    white-space: nowrap;
}
.article-text p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 900px;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 100px;
    color: #515151;
}
.img-triangulo {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 10%;
}
.servicos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}
.servicos-content {
    min-width: 330px;
    width: 370px;
    height: auto;
    margin: 20px 10px;
    overflow-x: hidden;

}
.servicos-icon {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.marcador {
    align-items: start;
}
.marcador img {
    width: 16px;
    height: 16px;
    margin-top: 0.5rem;
}
.servicos-content h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.625rem;
    margin-left: 12px;
}
.servicos-content p {
    text-align: start;
    margin-top: 10px;
    
    font-size: 1.125rem;
    font-weight: 300;
    height: 100px;
}
.servicos-content li {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: start;
    margin-top: 0;
    margin-left: 5px;
    padding: 3px;
    margin: 1px;
}
    /* ========= CARDS ========= */
.cards-background {
    background-image: url('../img/banner2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    height:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0px 3.35309px 6.70617px rgba(0, 0, 0, 0.25);
    background-color: #FDFDFD;
    min-width: 25rem;
    max-width: 23.75rem;
    min-height: 13.5rem;
    border-radius: 0.5rem;
    margin: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card h2 {
    color: #425159;
    font-size: 1.5rem;
    margin-top: 0.625rem;
}
.card p {
    max-width: 370rem;
    height: 7.5rem;
    color: #585858;
    font-size: 1rem;

}
    /* ========== O ESCRITORIO ========== */
.office-container {
    padding: 150px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.office-container img {
    max-width: 100%;
    min-width: 400px;
    display: block;
    overflow-x: hidden;
}
.office-content {
    margin: 40px;
    overflow-x: hidden;
}
.office-content h2 {
    font-size: 3.125rem;
    font-weight: 500;
    text-align: center;
}
.office-content p {
    max-width: 600px;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 20px;
}
    /* GALLERY */
.gallery-container {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 4px 0;
}
.gallery-1 {
    width: 25%;
    background-image: url('../img/galeria-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-2 {
    width: 25%;
    background-image: url('../img/galeria-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-3 {
    width: 25%;
    background-image: url('../img/galeria-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-4 {
    width: 25%;
    background-image: url('../img/galeria-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -85px ;
}
    /* FOOTER */
footer {
    background-color: #34383C;
    position: relative;

}
.footer-container {
    height: 800px;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-footer {
    justify-content: space-between;
}
.menu-footer a {
    font-size: 1rem;

}
.logo-mr3-footer img{
    max-width: 120px;
}
.btn-container {
    background-color: #FEFEFE;
    min-width: 150px;
    height: 50px;
    border-radius: 25px;
}
.btn-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
}
.btn-contact img {
    margin-right: 12px;
}
.btn-contact p {
    width: 120px;
    text-align: center;
    line-height: 18px;
}
.contact {
    display: flex;
    flex-direction: column;
    
}
.contact-email {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.contact-email h3 {
    white-space: nowrap;
    width: 18rem;
}
.contact-container {
    padding-bottom: 80px ;
    overflow-x: hidden;
}
.contact-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}
.contact h3, .contact-icon h3{
    color: #BABABA;
    font-weight: 400;
    margin: 4px;
}
.contact h3:hover {
    color: #ececec;
    transition: 0.3s;
}
.address-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.address h3{
    width: 350px ;
    
}
.line {
    background-color: #BABABA;
    height: 1px;
    margin: 16px 0;
}
.copyright {
    height: 50px;
    color: #BABABA;
    display: flex;
    justify-content: center;
    align-items: center;
}